@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Ubuntu:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  line-height: 5rem;
  text-align: center;
  background-color: rgb(22, 7, 36);
}


#home {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftHome {
  width: 500px;
}

.leftHome h3 {
  color: #de2639;
  font-size: 1.5rem;
  text-transform: uppercase;
}

.leftHome h2 {
  color: rgb(26, 25, 25);
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.desc {
  margin-bottom: 1rem;
  color: rgb(18, 18, 19);
  text-align: justify;
}

.rightHome {
  width: 50%;
  margin: 1rem;
  position: relative;
  border-radius: 50px;
}


legend {
  background-color: #de2639;
  color: #fff;
  padding: 3px 6px;
  border-radius: 50px;
  margin-left: 10px;
  margin-bottom: 20px;
}


li {
  text-align: left;
  color: rgb(22, 7, 36);
  margin-left: 10px;
  margin-bottom: 10px;
  list-style-type: none;
}

li a {
  color: rgb(22, 7, 36);
  ;
}


footer a {
  color: #333;
  text-decoration: none;
  font-size: 1em;
  margin: 10px;
}



footer a:hover {
  color: #1DA1F2;
}

footer i {
  margin-right: 5px;
  color: rgb(22, 7, 36);
}

@media screen and (max-width:768px) {
  #home {
    flex-direction: column-reverse;
  }

  .rightHome {
    width: 900;
    border-radius: 50px;
    text-align: justify;
  }

  .leftHome {
    margin: 0;
    width: 100%;
  }

  .leftHome h3 {
    font-size: 1rem;
  }

  .leftHome h2 {
    font-size: 2rem;
  }

}