@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,100&family=Ubuntu:wght@500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
}

.navbar {
  line-height: 5rem;
  margin-bottom: 50px;
  text-align: center;
  background-color: rgb(22, 7, 36);
}


#home {
  width: 80%;
  margin: 1rem auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.leftH {
  width: 450px;
}

.leftH h3 {
  color: #de2639;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

.leftH a {
  color: rgb(22, 7, 36);
}

li {
  margin-bottom: 5px;
  list-style-type: none;
}

.leftH h2 {
  color: rgb(22, 7, 36);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.desc {
  margin-bottom: 1rem;
  color: rgb(106, 102, 102);
  text-align: justify;
}

.rightH {
  width: 50%;
  margin: 1rem;
  position: relative;
  border-radius: 50px;
}



@media screen and (max-width:768px) {
  #home {
    flex-direction: column-reverse;
    width: 90%;
  }

  .navbar {

    margin-bottom: 0px;

  }

  .rightH {
    width: 300px;
  }

  .leftH {
    margin: 0;
    width: 100%;
  }

  .leftH h3 {
    font-size: 1rem;
  }

  .leftH h2 {
    font-size: 2rem;
  }

}