 @import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;600;700;900&display=swap');

 * {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
 }

 body {
   background-color: #Ffc0cb;
 }

 .container {
   display: flex;
   width: 600px;
   height: 470px;
   margin: 200px auto;
 }

 .section {
   flex: 50%;
 }

 img {
   height: 100%;
   width: 100%;
   border-top-left-radius: 15px;
   border-bottom-left-radius: 15px;
 }

 .section.two {
   background-color: aliceblue;
   border-top-right-radius: 15px;
   border-bottom-right-radius: 15px;
 }

 .flo {
   color: #7c7a7a;
   text-align: justify;
 }

 p,
 h2 {
   margin: 30px;
 }

 .title {
   letter-spacing: 2px;
   color: #B22222;
 }

 h2 {
   line-height: 35px;
   font-size: xx-large;
 }

 .first.price {
   font-size: 2rem;
   color: #B22222;
 }

 .second.price {
   font-size: small;
   color: #7c7a7a;
   vertical-align: middle;
   margin-left: 15px;
   text-decoration: line-through;
 }

 a {
   text-decoration: none;
   font-size: 16px;
 }


 i {
   margin-right: 10px;
   color: aliceblue;
 }

 button {
   width: 240px;
   margin: 0 auto;
   height: 40px;
   margin-left: 30px;
   border-radius: 10px;
   background-color: #Ff0000;
   color: aliceblue;
   border: none;
   cursor: pointer;

 }

 button:hover {
   background-color: #F08080;
 }


 @media (max-width: 768px) {

   body {
     height: 120vh;
     margin-bottom: 20px;
   }

   .container {
     flex-direction: column;
     width: 300px;
     margin: 20px auto 20px auto;
   }


   .section.two {
     border-radius: 0;
     border-bottom-right-radius: 20px;
     border-bottom-left-radius: 20px;
   }

   img {
     border-radius: 0;
     border-top-right-radius: 20px;
     border-top-left-radius: 20px;

   }

   .button {
     margin-bottom: 10px;
   }
 }