@import url('https://fonts.googleapis.com/css?family=Muli:500,700&display=swap');

* {
  box-sizing: border-box;
}

body {
  background: #81ecec;
  display: flex;
  font-family: 'Muli', sans-serif;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.breadcrumbs {
  display: flex;
  padding: 0;
  list-style-type: none;
  overflow: hidden;
}

.breadcrumbs li {
  background-color: #0984e3;
  border-radius: 5px 50px 50px 5px;
  box-shadow: 3px 0 10px #003897;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  padding: 12px 30px;
  position: relative;
  text-transform: uppercase;
}

.breadcrumbs li:nth-of-type(1) {
  z-index: 100;
}

.breadcrumbs li:nth-of-type(2) {
  z-index: 90;
}

.breadcrumbs li:nth-of-type(3) {
  z-index: 80;
}

.breadcrumbs li:nth-of-type(4) {
  z-index: 70;
}

.breadcrumbs li:not(:first-of-type) {
  padding-left: 40px;
  margin-left: -20px;
}

.breadcrumbs li:last-of-type {
  box-shadow: none;
  background-color: #fff;
  color: #0984e3;
}

