body {
  background-image: radial-gradient(circle 360px at 50% 50%, rgba(54, 96, 172, 1) 0%, rgba(46, 53, 89, 1) 100.2%);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.element {
  width: 0;
  height: 0;
  border: 50px solid transparent;
  border-bottom-color: #fff;
  border-left-color: #fff;
}