@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  position: relative;
  transform: rotate(135deg);
}

.circle {
  border-radius: 50%;
  border: 60px dashed #111;
  border-top-color: #fff;
  border-right-color: #fff;
  box-shadow: 0 0 0 2px #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  transform: translate(-50%, -50%) rotate(0deg);
  animation: 7s ease-in-out infinite;
}